section#post .post-card {
  cursor: default;
  height: var(--height-modal-post);
  position: relative;
}

section#post .post-card .video {
  cursor: pointer;
}

section#post .post-card .video .fa {
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: var(--color-secondary);
}

section#post .post-card .video video:focus {
  outline: none;
}

section#post .post-card > video:hover {
  cursor: pointer;
}

section#post .post-card > img,
section#post .post-card .video,
section#post .post-card .video video {
  height: 100%;
  width: 100%;
}

section#post .post-card .panel-comments {
  position: absolute;
  width: 100%;
  min-width: 200px;
  bottom: 0;
  left: 0;

  border: 2px solid var(--color-primary);
  border-top-width: 10px;
  border-bottom: none;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: white;
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: hidden;

  transition: height 0.25s ease-in-out;
}

section#post .post-card .panel-comments > ul {
  cursor: default;
  height: 90%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
}

.post-card .panel-comments > ul li {
  margin: 12px 0;
}

.panel-comments > ul .comment {
  display: flex;
  align-items: center;
}

.panel-comments > ul .comment > img {
  width: 25px;
  clip-path: circle();
  margin: 10px;
  transition: all 0.25s ease-in-out;
}

.panel-comments > ul .comment .user {
  font-weight: 600;
  color: var(--color-secondary);
}

section#post .post-card .panel-comments {
  height: 60px;
}

section#post .post-card .panel-comments:hover {
  height: 400px !important;
}

section#post .code-post .language-js {
  height: var(--height-modal-post);
}
