section#lastposts .posts {
  margin: 0 20px;
}

section#lastposts .code-lastposts .language-js {
  height: 468px;
}

section#lastposts .post-card {
  cursor: pointer;
  height: 152.8px;
  width: 100%;
  position: relative;
}

section#lastposts .post-card img {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: right;
}

section#lastposts .post-card .fa-video-camera {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--color-secondary);
}

section#lastposts .post-card .content {
  visibility: hidden;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-items: center;

  text-align: center;
  padding: 20px;
}

section#lastposts .post-card .content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #212529a1;
}

section#lastposts .post-card:hover .content {
  visibility: visible;
}

section#lastposts .post-card .content p,
.post-data .fa,
.post-data span {
  position: relative;
  color: white;
}

section#lastposts .post-card .content p {
  font-size: 0.8rem;
}

section#lastposts .post-data {
  display: inline-flex;
  width: 100%;
}

section#lastposts .post-data .data {
  margin: auto;
}

section#lastposts .post-data span {
  font-family: 'Segoe-UI', Helvetica, sans-serif;
  font-size: 0.7rem;
}
