:root {
  --color-gray: #55504a;
  --color-primary: #ffb545;
  --color-secondary: #fc685e;
  --color-background: #fffdfa;
  --color-rose-dark: #f92672;
  --color-instagram: linear-gradient(
    220deg,
    var(--color-rose-dark) 0%,
    var(--color-primary) 50%,
    var(--color-rose-dark) 100%
  );
  --height-modal-post: 540px;
  --height-card-post: 140px;
}

@font-face {
  src: url('../fonts/FontsFree-Net-Segoe-UI.ttf');
  font-family: 'Segoe-UI';
  font-weight: 400;
}
