<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Instagrapi</title>

    <!-- SEO -->
    <meta
      name="description"
      content="Library to obtain information from an Instagram account in a friendly and intuitive way"
    />
    <meta name="author" content="Edixon Piña" />
    <meta name="keywords" content="instagram, api, nodejs, typescript" />
    <!-- OPEN-GRAPH -->
    <meta property="og:url" content="https://edixonalberto.github.io/instagrapi" />
    <meta property="og:title" content="Instagrapi" />
    <meta
      property="og:description"
      content="Library to obtain information from an Instagram account in a friendly and intuitive way"
    />
    <meta property="og:type" content="image/png" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/EdixonAlberto/instagrapi/main/.github/template-github.png"
    />
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Instagrapi" />
    <meta
      name="twitter:description"
      content="Library to obtain information from an Instagram account in a friendly and intuitive way"
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/EdixonAlberto/instagrapi/main/.github/template-github.png"
    />
    <!-- STYLES-VUE-CODE-HIGHLIGHT -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-code-highlight@0.7.6/themes/prism-dark.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-code-highlight@0.7.6/themes/window.min.css" />
    <!-- STYLES-BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- STYLES-FONTAWESOME-4 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/878cc38dc0.css" />
    <!-- STYLES-CSS -->
    <link rel="stylesheet" href="static/css/index.css" />
  </head>

  <body>
    <div id="app">
      <main>
        <div class="title">
          <h1>Instagrapi</h1>
          <p v-if="version" class="version">({{ version }})</p>
        </div>

        <p>
          Library to obtain information from an Instagram account <br />
          in a friendly and intuitive way.
        </p>

        <div class="row m-auto">
          <div class="features col-6 p-0" v-for="(columns, i) in features" :key="i">
            <ul>
              <li v-for="(feature, i) in columns" :key="i">
                <div class="icon-container">
                  <img src="static/icon/check.svg" alt="Icono de check" />
                </div>
                <span v-text="feature"></span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row m-auto">
          <div class="links col-12 text-center">
            <a @click="goDemo()">
              <button class="ig-btn started">Demostration</button>
            </a>

            <a href="https://www.npmjs.com/package/instagrapi" target="_blank" rel="noopener noreferrer">
              <button class="ig-btn npm">NPM</button>
            </a>

            <a href="https://github.com/EdixonAlberto/instagrapi" target="_blank" rel="noopener noreferrer">
              <button class="ig-btn github">Github</button>
            </a>
          </div>
        </div>
      </main>

      <article>
        <section id="demo" class="search">
          <input type="text" placeholder="Enter Username" v-model="username" />
          <button class="ig-btn" @click="loadData()">Buscar</button>
        </section>

        <template v-if="profile">
          <section id="profile" class="row m-auto">
            <h2 class="order-0">Profile</h2>

            <div class="col-md-6 col-12 p-0 mb-3 order-3">
              <code-highlight class="code-profile" language="js">{{ profile }} </code-highlight>
            </div>

            <div class="col-md-6 col-12 p-0 order-1">
              <div class="render-profile">
                <div v-if="profile" class="profile-container">
                  <div class="border-color">
                    <img :src="profile.image.standard" alt="Logo profile" crossorigin="anonymous" />
                  </div>

                  <h3>{{ profile.name }}</h3>
                  <p><strong>@{{ profile.username }}</strong></p>

                  <div class="status">
                    <span>{{ profile.qtyPosts | round }} Publications |</span>
                    <span>{{ profile.followers | round }} Followers | </span>
                    <span>{{ profile.following | round }} Following</span>
                  </div>

                  <p>{{ profile.biography }}</p>

                  <div class="external-url">
                    <a :href="profile.externalUrl" target="_blank" rel="noopener noreferrer">
                      <span>{{ profile.externalUrl }}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </template>

        <template v-if="lastPosts.length">
          <section id="lastposts" class="row m-auto">
            <h2>Last Posts</h2>

            <div class="col-md-6 col-12 p-0 mb-3">
              <div class="posts row">
                <div class="col-md-3 col-6 p-0" v-for="(post, i) in lastPosts" :key="i">
                  <a data-bs-toggle="modal" data-bs-target="#modal-post" @click="getPost(post.postUrl)">
                    <div class="post-card">
                      <img :src="post.image" :alt="`Post ${i + 1}`" crossorigin="anonymous" />
                      <i v-if="post.video" class="fa fa-video-camera" aria-hidden="true"></i>

                      <div class="content">
                        <div>
                          <p>{{ post.content | cut }}</p>

                          <div class="post-data">
                            <div class="data">
                              <i class="fa fa-heart-o" aria-hidden="true"></i>
                              <span>{{ post.likes | round }}</span>
                            </div>

                            <div class="data">
                              <i class="fa fa-comment-o" aria-hidden="true"></i>
                              <span>{{ post.qtyComments | round }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-12 p-0 align-self-center">
              <code-highlight class="code-lastposts" language="js">{{ lastPosts }} </code-highlight>
            </div>
          </section>
        </template>
      </article>

      <!-- MODAL -->
      <div id="modal-post" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <section id="post" class="modal-body py-0">
              <h2>Last Posts</h2>

              <div v-if="post" class="row">
                <div class="col-md-5 col-12 mb-md-0 mb-4">
                  <div class="post-card">
                    <div v-if="post.video" class="video">
                      <i v-if="!play" class="fa fa-play" aria-hidden="true"></i>

                      <video
                        ref="video"
                        :src="post.video.url"
                        type="video/mp4"
                        loop
                        crossorigin="anonymous"
                        @click="play = !play"
                      ></video>
                    </div>

                    <img v-else :src="post.image.standard" alt="Post image" crossorigin="anonymous" />

                    <div class="panel-comments">
                      <h2>Last Comments</h2>

                      <ul>
                        <li v-for="(comment, i) in post.lastComments" :key="i" class="comment">
                          <img :src="comment.author.image" alt="Avatar comment" crossorigin="anonymous" />

                          <div class="d-block">
                            <span class="user">@{{ comment.author.username }}</span>
                            <span>{{ comment.content }}</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-7 col-12">
                  <code-highlight class="code-post" language="js">{{ post }} </code-highlight>
                </div>
              </div>

              <div v-else class="loading">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- VUE-HIGHLIGHT -->
    <script src="https://cdn.jsdelivr.net/npm/vue-code-highlight@0.7.6/dist/vue-code-highlight.min.js"></script>
    <!-- BOOTSTRAP -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <!-- APP -->
    <script src="static/js/cache.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
